ftp2http:
    build: .
    ports:
     - "20:20"
     - "21:2121"
     - "1024-1048:1024-1048"
    environment:
        masquerade_address: localhost
        http_url: http://localhost:8000/process-file/
        http_basic_auth: 'true'
        authentication_backend: ?authenticate
        ssl_cert_path: ''
        # Can generate a user account with: ftp2http -a
        # (https://github.com/apnarm/ftp2http#user-accounts-in-the-the-configuration-file)
        user_account: ''
    restart: always
